@model BlogManagement.Models.ViewModel.VerifyCodeVM

@{
    ViewData["Title"] = "Verify Code";
}

<h2>@ViewData["Title"]</h2>

<h4>Enter verification code send to registered email address.</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="VerifyCode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Provider"></label>
                <input asp-for="Provider" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Code"></label>
                <input asp-for="Code" class="form-control" />
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="RememberMe" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label"></label>
                </div>
            </div>
            <input type="hidden" asp-for="ReturnUrl" />
            <button type="submit" class="btn btn-primary">Verify Code</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
